{% extends "base.html" %}
<div align='center'>
    <h1>Welcome to the pge for {{ current_user.username }}</h1>
    <img align='center' 
         src="{{url_for('static',filename='profile_pics/'+current_user.profile_image)}}" 
         alt="profile image">
    <div class="container">
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.email.label }}
                {{ form.email(class="form-control") }}<br>
            </div>
            <div class="form-group">
                {{ form.useranme.label }}
                {{ form.username(class="form-control") }}<br>
            </div>
            <div class="form-group">
                {{ form.email.label }}
                {{ form.email(class="form-control") }}<br>
            </div>
            <div class="form-group">
                {{ form.picture.label }}
                {{ form.picture(class="form-control") }}<br>
            </div>
            {{ form.submit }}
        </form>
    </div>
</div>
{% endblock %}